body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

header {
    background-color: rgb(41, 41, 41);
    color: #fff;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fcf1d0;
    text-decoration: none;
}

main {
    flex-grow: 1;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #2c2a2c;
}

h1 {
    text-align: center;
    color: #fcf1d0;
}

a {
    color: #fcf1d0;
    text-decoration: none;
}

div {
    display: grid;
}

h3 {
    color: #ee734b;
}

main p {
    color: #6e99a7;
}

footer {
    background-color: #333;
    color: #fcf1d0;
    text-align: center;
}

main li {
    color: #6e99a7;
}